body,html {
    height: 100%;
}

body {
    padding-top: 40px;
}

h1,h2,h3,h4,h5,h6{
    margin: 0px;
}

.anchor {
    padding-top: 70px;
    margin-top: -70px;
}

/* Fixed Content ID */
#wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -30px;
    padding: 0 0 30px 0;
}
#content-head {
    padding-top: 25px;
    padding-bottom: 15px;
}
#content-outer {
    padding: 20px 0;
}

/* Login */
.login {
    max-width: 300px;
}
.body-login {
    padding-top: 5%;
    background-color: #333;
}
.container-login {
    background-color: #f5f5f5;
    border-color: #5eabcc;
    border-style: solid;
    border-width: 5px 0 5px 0;
}

/* Title Banner Themes */
.head-dark {
    color: #fff;
    background-color: #333;
}

/* Task */
.body-task {
    background-color: #f5f5f5;
}
.panel-description p {
    margin: 0px;
}

/* Forms */
input, textarea, select, .input-group {
    margin-bottom: 5px;
}

.form-actions {
    text-align: right;
    background-color: #f5f5f5;
    padding: 10px;
    margin-top: 10px;
}

/* Footer */
footer {
    padding: 5px 0;
    height: 30px;
    background-color: #333;
}
footer a:link, footer a:visited, footer a:link, footer a:visited {
    color: #222;
}
.ironowl {
    text-shadow: 0px 1px 1px #4d4d4d;
}

