{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add or Edit Task{% endblock %}

{% block content-head-class %}head-dark{% endblock %}
{% block content-head %}

<a style="color: white;" title="Return Home" href="{% url 'home' %}">
    <div style="float: left;" class="col-md-1 text-center">
        <h3><span class="glyphicon glyphicon-chevron-left pull-right"></span></h3>
    </div>
</a>
<div class="container">
    <div class="row">
        <h1>Add or Edit Task</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<script type="text/javascript">
    {% if user.triageuser.default_due_time %}
        $(document).ready(function() {
            $('.dateinput').change(function(){
                if($(".timeinput").prop("value") == ""){
                    // Set the time if no already set to a value
                    $('.timeinput').val("{{ user.triageuser.default_due_time|date:"H:i" }}");
                }
            });
        });
    {% endif %}
</script>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{next}}" />
    {% crispy form %}
</form>
{% endblock %}
