{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add or Edit Tasklist{% endblock %}

{% block content-head-class %}head-dark{% endblock %}
{% block content-head %}
<a style="color: white;" title="Return Home" href="{% url 'home' %}">
    <div style="float: left;" class="col-md-1 text-center">
        <h3><span class="glyphicon glyphicon-chevron-left pull-right"></span></h3>
    </div>
</a>
<div class="container">
    <div class="row">
        <h1>Add or Edit Tasklist</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {% crispy form %}
</form>
{% endblock %}
