{% extends "base/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content-head-class %}head-dark{% endblock %}
{% block content-head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js" type="text/javascript"></script>
<div class="container">
    <div class="row">
        {% include "task/includes/calendar.html" %}
    </div>
</div>
{% endblock %}

{% block content %}
{% include 'task/default_due_time_js.html' %}
<script type="text/javascript">
    function humanize(timestamp){
        return moment(timestamp).fromNow();
    };
    $(document).ready(function(){
        $(".due_date").html(function() {
            return humanize($(this).html());
        });
    });
    $(document).ready(function(){
        $(".human_date").html(function() {
            return humanize($(this).html());
        });
    });
</script>

<div class="row">
    <div class="col-sm-2">
        <h2 class="text-center">Status</h2>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="col-md-6 text-center">Open</th>
                    <th class="col-md-6 text-center">Closed</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center task-counter">{{ open_tasks.count }}</td>
                    <td class="text-center task-counter">{{ closed_tasks.count }}</td>
                </tr>
                {% for triage in user.triages.all %}
                    <tr>
                        <td class="label_light-right text-center" style="border-right-color:#{{ triage.bg_colour }}">{{ triage.open_tasks.count }}</td>
                        <td class="label_light text-center" style="border-left-color:#{{ triage.bg_colour }}">{{ triage.closed_tasks.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <div class="calendar-wrapper">
            <table id="calendar-bar" class="table">
                <tbody>
                    <tr class="no-border">
                    <p class="text-center"><b>Opened</b></p>
                    {% for day in oc_cal.values %}
                        <td class="calendar-lamp-wrapper">
                            <ul class="calendar-lamps">
                            {% for task in day.opened_tasks %}
                                <li class="calendar-lamp" style="border-color:#{{ task.triage.bg_colour }}"></li>
                            {% endfor %}
                            </ul>
                        </td>
                    {% endfor %}
                    </tr>
                    <tr>
                    {% for day in oc_cal.values %}
                        <td class="text-center {% if forloop.last %}today{%endif%}">
                            <span class="text-small-task">{{ day.month }}</span></br>
                            <b>{{ day.day }}</b>
                        </td>
                    {% endfor %}
                    </tr>
                    <tr>
                    {% for day in oc_cal.values %}
                        <td class="calendar-lamp-wrapper-invert">
                            <ul class="calendar-lamps">
                            {% for task in day.closed_tasks %}
                                <li class="calendar-lamp" style="border-color:#{{ task.triage.bg_colour }}"></li>
                            {% endfor %}
                            </ul>
                        </td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
            <p class="text-center"><b>Closed</b></p>
        </div>
        <hr>
        <h3 class="text-center">Milestones</h3>
        {% if milestones %}
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-8">Name</th>
                        <th class="col-md-4 text-center">&#8470;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for milestone in milestones %}
                    <tr>
                        <td class="label_light" style="border-left-color:#{{ milestone.bg_colour }}">
                            <a href="{% url 'task:view_milestone' milestone.tasklist.user.username milestone.tasklist.slug milestone.id %}">{{ milestone.name }}</a></br>
                            <span class="human_date text-small-task" title="{{ milestone.due_date }}">{{ milestone.due_date|date:"c" }}</span>
                        </td>
                        <td class="text-center">{{ milestone.task_set.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            No milestones
        {% endif %}
    </div>
    <div class="col-sm-10">
        {% include "task/includes/dash.html" %}
    </div>
</div>
{% endblock %}
