{% extends "base/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content-head-class %}head-dark{% endblock %}
{% block content-head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js" type="text/javascript"></script>
<div class="container">
    <div class="row">
        {% include "task/includes/calendar.html" %}
    </div>
</div>
{% endblock %}

{% block content %}
<script type="text/javascript">
    function humanize(timestamp){
        return moment(timestamp).fromNow();
    };
    $(document).ready(function(){
        $(".due_date").html(function() {
            return humanize($(this).html());
        });
    });
    $(document).ready(function(){
        $(".human_date").html(function() {
            return humanize($(this).html());
        });
    });
</script>

<div class="row">
    <div class="col-sm-2">
        <h2 class="text-center">Status</h2>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="col-md-6 text-center">Open</th>
                    <th class="col-md-6 text-center">Closed</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center task-counter">{{ open_tasks.count }}</td>
                    <td class="text-center task-counter">{{ closed_tasks.count }}</td>
                </tr>
                {% for triage in user.triages.all %}
                    <tr>
                        <td class="label_light-right text-center" style="border-right-color:#{{ triage.bg_colour }}">{{ triage.open_tasks.count }}</td>
                        <td class="label_light text-center" style="border-left-color:#{{ triage.bg_colour }}">{{ triage.closed_tasks.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <h3 class="text-center">Milestones</h3>
        {% if milestones %}
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-8">Name</th>
                        <th class="col-md-4 text-center">&#8470;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for milestone in milestones %}
                    <tr>
                        <td class="label_light" style="border-left-color:#{{ milestone.bg_colour }}">
                            {{ milestone.name }}</br>
                            <span class="human_date text-small-task" title="{{ milestone.due_date }}">{{ milestone.due_date|date:"c" }}</span>
                        </td>
                        <td class="text-center">{{ milestone.task_set.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            No milestones
        {% endif %}
    </div>
    <div class="col-sm-10">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#upcoming" data-toggle="tab">Upcoming</a></li>
            <li><a href="#recent" data-toggle="tab">Recent</a></li>
            <li><a href="#overdue" data-toggle="tab">Overdue</a></li>
            <li><a href="#housekeeping" data-toggle="tab">Housekeeping</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="upcoming">
              <div class="row">
                <div class="col-sm-6">
                    <h2>This Week</h2>
                    {% if upcoming_week %}
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center col-md-1">#</th>
                                <th class="col-md-9">Task</th>
                                <th class="text-center col-md-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for task in upcoming_week %}
                            {% include "task/includes/task_row.html" %}
                        {% endfor %}
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                    {% else %}
                        No upcoming tasks this week!
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <h2>This Month</h2>
                    {% if upcoming_month %}
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center col-md-1">#</th>
                                <th class="col-md-9">Task</th>
                                <th class="text-center col-md-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for task in upcoming_month %}
                            {% include "task/includes/task_row.html" %}
                        {% endfor %}
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                    {% else %}
                        No upcoming tasks later this month!
                    {% endif %}
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="recent">
              <div class="row">
                <div class="col-sm-6">
                    <h2>Recently Added</h2>
                    {% if recently_added %}
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center col-md-1">#</th>
                                <th class="col-md-9">Task</th>
                                <th class="text-center col-md-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for task in recently_added %}
                            {% include "task/includes/task_row.html" %}
                        {% endfor %}
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                    {% else %}
                        Nothing to see here...
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <h2>Recently Closed</h2>
                    {% if recently_closed %}
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center col-md-1">#</th>
                                <th class="col-md-9">Task</th>
                                <th class="text-center col-md-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for task in recently_closed %}
                            {% include "task/includes/task_row.html" %}
                        {% endfor %}
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                    {% else %}
                        Nothing to see here...
                    {% endif %}
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="overdue">
              <div class="row">
                <div class="col-sm-6">
                    <h2>Overdue</h2>
                    {% if overdue %}
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center col-md-1">#</th>
                                <th class="col-md-9">Task</th>
                                <th class="text-center col-md-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for task in overdue %}
                            {% include "task/includes/task_row.html" %}
                        {% endfor %}
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                    {% else %}
                        No overdue tasks, yay!
                    {% endif %}
                </div>
                <div class="col-sm-6">
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="housekeeping">
              <div class="row">
                <div class="col-sm-6">
                    <h2>Awaiting Triage</h2>
                    {% if no_triage %}
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center col-md-1">#</th>
                                <th class="col-md-9">Task</th>
                                <th class="text-center col-md-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for task in no_triage %}
                            {% include "task/includes/task_row.html" %}
                        {% endfor %}
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                    {% else %}
                        Nothing to see here...
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <h2>No Due Date</h2>
                    {% if no_due %}
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center col-md-1">#</th>
                                <th class="col-md-9">Task</th>
                                <th class="text-center col-md-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for task in no_due %}
                            {% include "task/includes/task_row.html" %}
                        {% endfor %}
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                    {% else %}
                        Nothing to see here...
                    {% endif %}
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
