{% extends "base/base.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}
<h1>Tasks</h1>
{% if user.is_authenticated %}
    <p>Hello, {{ user.username }}, you have {{ tasklists.count }} task lists:</p>
    <a class="btn btn-success" href="{% url 'task:add_tasklist' %}">Add Task List</a>
    <hr>

    {% for tasklist in tasklists %}
        <div class="row">
            <div class="col-md-9">
                <h2>{{ tasklist.name }}</h2>
            </div>
            <div class="col-md-3">
                <div class="btn-group pull-right">
                    <a class="btn btn-sm btn-success" href="{% url 'task:add_task' tasklist.id %}"><span class="glyphicon glyphicon-plus"></span> Add Task</a>
                    <a class="btn btn-sm btn-warning" href="{% url 'task:edit_tasklist' tasklist.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-sm btn-danger" href="#"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </div>
        </div>
        <h3>{{ tasklist.description }}</h3>
        <p>{{ tasklist.uncompleted }} tasks ({{ tasklist.completed }} completed)</p>
        {% if tasklist.tasks.all %}
        <table class="table">
            <tr>
                <th></th>
                <th class="col-md-3">Name</th>
                <th class="col-md-6">Description</th>
                <th class="col-md-1">Due</th>
                <th></th>
            </tr>
        {% for task in tasklist.tasks.all %}
            {% if task.completed %}
                <tr>
            {% else %}
                {% if task.is_due == -1 %}
                    <tr class="danger">
                {% elif task.is_due == 1 %}
                    <tr class="warning">
                {% else %}
                    <tr>
                {% endif %}
            {% endif %}
                <td>{{ task.id }}</td>
                {% if task.completed %}
                    <td><strike>{{ task.name }}</strike></td>
                    <td><strike>{{ task.description }}</strike></td>
                {% else %}
                    <td>{{ task.name }}</td>
                    <td>{{ task.description }}</td>
                {% endif %}
                <td>{% if task.due_date != task.modified_date %}{{ task.due_date }}{% endif %}</td>
                <td>
                {% if task.completed %}
                    <div class="btn-group pull-right">
                        <a class="btn btn-sm btn-danger" href="#"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                {% else %}
                    <div class="btn-group pull-right">
                        <a class="btn btn-sm btn-warning" href="{% url 'task:edit_task' task.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-sm btn-success" href="{% url 'task:complete_task' task.id %}"><span class="glyphicon glyphicon-ok-circle"></span></a>
                    </div>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% endif %}
    </table>
    <hr>
    {% endfor %}
{% endif %}
{% endblock %}
