{% extends "base/base.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}
<h1>Tasks</h1>
{% if user.is_authenticated %}
    <p>Hello, {{ user.username }}, you have {{ user.tasklists.all|length }} task lists:</p>
    <a class="btn btn-success" href="{% url 'task:add_tasklist' %}">Add Task List</a>
    <hr>

    {% for tasklist in user.tasklists.all %}
        <div class="row">
            <div class="col-md-10">
                <h2>{{ tasklist.name }}</h2>
            </div>
            <div class="col-md-2">
                <a class="btn btn-success pull-right" href="{% url 'task:add_task' tasklist.id %}">Add Task</a>
            </div>
        </div>
        <h3>{{ tasklist.description }}</h3>
        <p>{{ tasklist.tasks.all|length }} tasks</p>
        {% if tasklist.tasks.all %}
        <table class="table">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Created</th>
                <th>Due</th>
            </tr>
        {% for task in tasklist.tasks.all %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.creation_date }}</td>
                <td>{{ task.due_date }}</td>
            </tr>
        {% endfor %}
        {% endif %}
    </table>
    <hr>
    {% endfor %}
{% endif %}
{% endblock %}
