{% extends "base/base.html" %}

{% block title %}Tasks{% endblock %}

{% block content-head-class %}head-dark{% endblock %}
{% block content-head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js" type="text/javascript"></script>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Tasks</h1>
            <p>Hello, {{ user.username }}, you have {{ tasklists.count }} task lists:</p>
        </div>
        <div class="col-md-6">
            <div class="btn-group pull-right">
                <a class="btn btn-success" href="{% url 'task:add_tasklist' user.username %}"><span class="glyphicon glyphicon-plus"></span> Add Task List</a>
                <a class="btn btn-info" href="{% url 'task:list_triage_category' user.username %}"><span class="glyphicon glyphicon-cog"></span> Triage Categories</a>
                <a class="btn btn-info" href="{% url 'task:list_milestones' user.username %}"><span class="glyphicon glyphicon-cog"></span> Milestones</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<script type="text/javascript">
    function humanize(timestamp){
        return moment(timestamp).fromNow();
    };
    $(document).ready(function(){
        $(".due_date_sp").html(function() {
            return humanize($(this).html());
        });
    });
</script>
<div class="row">
{% if tasklists.count > 0 %}
    <div class="col-md-2">
        <div class="list-group">
        {% for tasklist in tasklists|dictsort:"name" %}
            <a href="{% url 'task:view_tasklist' tasklist.user.username tasklist.slug %}" class="list-group-item">{{ tasklist.name }}<span class="badge">{{ tasklist.num_incomplete }}</span></a>
        {% endfor %}
        </div>
    </div>
    <div class="col-md-10">
    {% for tasklist in tasklists %}
        <div class="row">
            <div class="col-md-8">
                <h2><a href="{% url 'task:view_tasklist' tasklist.user.username tasklist.slug %}">{{ tasklist.name }}</a></h2>
            </div>
            <div class="col-md-4">
                <div class="btn-group pull-right">
                    <a class="btn btn-sm btn-info" href="{% url 'task:view_tasklist' tasklist.user.username tasklist.slug %}"><span class="glyphicon glyphicon-eye-open"></span></a>
                    <a class="btn btn-sm btn-success" href="{% url 'task:new_task' tasklist.user.username %}?tasklist={{ tasklist.slug }}&next={{ current_url }}"><span class="glyphicon glyphicon-plus"></span> New Task</a>
                    <a class="btn btn-sm btn-success" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown">
                            <div class="dropdown-menu-form">
                                {% include 'task/includes/quick_add.html' %}
                            </div>
                        </li>
                    </ul>
                    <a class="btn btn-sm btn-warning" href="{% url 'task:edit_tasklist' tasklist.user.username tasklist.slug %}?next={{ current_url }}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-sm btn-danger" href="{% url 'task:delete_tasklist' tasklist.user.username tasklist.slug %}?next={{ current_url }}"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>{{ tasklist.description }}</h3>
                <p>
                    {% if tasklist.public %}
                        <span class="glyphicon glyphicon-globe"></span>
                    {% endif %}
                    {{ tasklist.num_incomplete }} tasks ({{ tasklist.num_complete }} completed)
                </p>
                {% if tasklist.open_tasks %}
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-md-1 text-center">#</th>
                            <th class="col-md-1 text-center">Triage</th>
                            <th class="col-md-7">Task</th>
                            <th class="col-md-2">Due</th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for task in tasklist.open_tasks %}
                        {% if not task.due_date %}
                            <tr class="warning">
                        {% elif task.is_due == -1 %}
                            <tr class="danger">
                        {% elif task.is_due == 1 %}
                            <tr class="warning">
                        {% else %}
                            <tr>
                        {% endif %}
                        <td class="text-center">{{ task.local_id }}</td>
                        <td class="text-center">
                            <span class="label label-default" style="background-color:#{{ task.triage.bg_colour }}; color:#{{ task.triage.fg_colour }}">{{ task.triage.name }}</span>
                        </td>

                        {% if task.completed %}
                            <td><a href="{% url 'task:view_task' task.tasklist.user.username task.local_id %}"><strike><b>{{ task.name }}</b></strike></a></td>
                        {% else %}
                            <td><a href="{% url 'task:view_task' task.tasklist.user.username task.local_id %}"><b>{{ task.name }}</b></a></td>
                        {% endif %}

                        <td>
                        {% if task.due_date %}
                            <span class="due_date_sp" title="{{ task.due_date }}">{{ task.due_date|date:"c" }}</span>
                        {% endif %}
                        <span class="label label-default" title="{{ task.milestone.due_date }}" style="background-color:#{{ task.milestone.bg_colour }}; color:#{{ task.milestone.fg_colour }}">{{ task.milestone.name }}</span>
                        </td>

                        <td>
                        {% if task.completed %}
                            <div class="btn-group pull-right">
                                <a class="btn btn-sm btn-danger" href="#"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                        {% else %}
                            <div class="btn-group pull-right">
                                <a class="btn btn-sm btn-warning" href="{% url 'task:edit_task' task.tasklist.user.username task.local_id %}?next={{ current_url }}"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="btn btn-sm btn-success" href="{% url 'task:complete_task' task.tasklist.user.username task.local_id %}?next={{ current_url }}"><span class="glyphicon glyphicon-ok-circle"></span></a>
                            </div>
                        {% endif %}
                        </td>
                        </tr>
                {% endfor %}
                </tbody>
                <tfoot></tfoot>
                </table>
                {% else %}
                <hr>
                <p class="tasklist-empty-notice">No open tasks! <a href="{% url 'task:new_task' tasklist.user.username %}?tasklist={{ tasklist.slug }}&next={{ current_url }}">New Task</a></p>
                {% endif %}
            </div>
        </div>
    <hr>
    {% endfor %}
    </div>
{% else %}
    <div class="jumbotron">
        <h1>Welcome to Triage!</h1>
        <p>You'll need to create a task list to begin...</p>
        <a class="btn btn-lg btn-success" href="{% url 'task:add_tasklist' user.username %}"><span class="glyphicon glyphicon-plus"></span> Add Task List</a>
    </div>
{% endif %}
</div>
{% endblock %}
