{% extends "base/base.html" %}

{% block title %}{{ milestone.tasklist.user.username }}/{{ milestone.tasklist.name }}/{{ milestone.name }}{% endblock %}

{% block body-class %}body-task{% endblock %}
{% block content-head-class %}head-dark{% endblock %}
{% block content-head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js" type="text/javascript"></script>
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <h4>
                <a href="{% url 'task:profile' milestone.tasklist.user.username %}">{{ milestone.tasklist.user.username }}</a> / <a href="{% url 'task:view_tasklist' milestone.tasklist.user.username milestone.tasklist.slug %}">{{ milestone.tasklist.name }}</a>
            </h4>
            <h1>{{ milestone.name }}</h1>
        </div>
        <div class="col-sm-3">
            {% if edit_permission %}
            <div class="btn-group pull-right">
                <a class="btn btn-success" href="{% url 'task:new_task' milestone.tasklist.user.username %}?milestone={{ milestone.pk }}&tasklist={{ milestone.tasklist.slug }}&next={{ current_url }}"><span class="glyphicon glyphicon-plus"></span> New Task</a>
                <a class="btn btn-warning" href="{% url 'task:edit_milestone' milestone.tasklist.user.username milestone.tasklist.slug milestone.pk  %}?next={{ current_url }}"><span class="glyphicon glyphicon-pencil"></span> Edit Milestone</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<script type="text/javascript">
    function humanize(timestamp){
        return moment(timestamp).fromNow();
    };
    $(document).ready(function(){
        $(".human_date").html(function() {
            return humanize($(this).html());
        });
        $(".due_date").html(function() {
            return humanize($(this).html());
        });
    });
</script>
<div class="row">
    <div class="col-md-12">
        <legend>Tasks</legend>
        {% if milestone.task_set.count > 0 %}
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th class="text-center col-md-1">#</th>
                    <th class="col-md-9">Task</th>
                    <th class="text-center col-md-2"></th>
                </tr>
            </thead>
            <tbody>
            {% for task in milestone.task_set.all %}
                {% include "task/includes/task_row.html" %}
            {% endfor %}
            </tbody>
            <tfoot></tfoot>
        </table>
        {% else %}
            Nothing to see here, move along!
        {% endif %}
    </div>
</div>
{% endblock %}
