{% extends "base/base.html" %}

{% block title %}Triage Categories{% endblock %}

{% block content-head-class %}head-dark{% endblock %}
{% block content-head %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Triage Categories</h1>
            <p>Hello, {{ user.username }}, you have {{ triages.count }} triage categories:</p>
        </div>
        <div class="col-md-6">
            <div class="btn-group pull-right">
                <a class="btn btn-success" href="{% url 'task:add_triage_category' user.username %}">Add Triage Category</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<table class="table">
    <thead>
    </thead>
    <tbody>
    {% for tcat in triages %}
        <tr>
            <td style="background-color:#{{ tcat.bg_colour }}; color:#{{ tcat.fg_colour }}"><b>{{ tcat.name }}</b>
                <div class="btn-group pull-right">
                    <a class="btn btn-sm btn-warning" href="{% url 'task:edit_triage_category' user.username tcat.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot></tfoot>
</table>
{% endblock %}
