{% extends "base/base.html" %}

{% block title %}Task #{{ task.id }} | {{ task.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h4>Task #{{ task.id}}</h4>
        <h1>{{ task.name }}</h1>
    </div>
    <div class="col-md-6">
        <div class="btn-group pull-right">
            <a class="btn btn-warning" href="{% url 'task:edit_task' task.id %}"><span class="glyphicon glyphicon-pencil"></span> Edit Task</a>
            {% if task.completed %}
                <div class="btn-group pull-right">
                    <a class="btn btn-danger" href="#"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            {% else %}
                <div class="btn-group pull-right">
                    <a class="btn btn-success" href="{% url 'task:complete_task' task.id %}"><span class="glyphicon glyphicon-ok-circle"></span></a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-12">
        <p>{{ task.description }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>History</h2>
        {% for record in task.get_history %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ record.user.username }} @ {{ record.timestamp }}
            </div>
            <div class="panel-body">
                {% for entry in record.get_field_entries %}
                    {{ entry }}
                    <br />
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
