{% extends "base/base.html" %}
{% load markup %}

{% block title %}Task {% if not edit_permission %}{{ task.tasklist.user.username}}/{% endif %}#{{ task.local_id }} | {{ task.name }}{% endblock %}

{% block body-class %}body-task{% endblock %}
{% block content-head-class %}head-dark{% endblock %}
{% block content-head %}
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <h4>
                {% if not edit_permission %}<a href="{% url 'task:profile' task.tasklist.user.username %}">{{ task.tasklist.user.username }}</a> / <a href="{% url 'task:view_tasklist' task.tasklist.user.username task.tasklist.slug %}">{{ task.tasklist.name }}</a>{% else %}Task{% endif %} #{{ task.local_id }}
            </h4>
            <h1>{{ task.name }}</h1>
            <span class="label label-default" style="background-color:#{{ task.triage.bg_colour }}; color:#{{ task.triage.fg_colour }}">{{ task.triage.name }}</span>
        </div>
        <div class="col-sm-3">
            {% if edit_permission %}
            <div class="btn-group pull-right">
                <a class="btn btn-warning" href="{% url 'task:edit_task' task.tasklist.user.username task.local_id %}?next={{ current_url }}"><span class="glyphicon glyphicon-pencil"></span> Edit Task</a>
                {% if task.completed %}
                    <div class="btn-group pull-right">
                        <a class="btn btn-danger" href="#"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                {% else %}
                    <div class="btn-group pull-right">
                        <a class="btn btn-success" href="{% url 'task:complete_task' task.tasklist.user.username task.local_id %}?next={{ current_url }}"><span class="glyphicon glyphicon-ok-circle"></span></a>
                    </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <legend>Description</legend>
        <div class="panel panel-info">
            <div class="panel-body panel-description">
            {% if task.description %}
                {{ task.description|markup_markdown }}
            {% else %}
                <span class="missing-property">No description</span>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <legend>Dates</legend>
        <div class="panel panel-info">
            <table class="table">
                <tbody>
                <tr>
                    <td class="col-md-4"><b>Created</b></td>
                    <td>{{ task.creation_date }}{% if task.created_by %} by <a href="{% url 'task:profile' task.created_by.username %}">{{ task.created_by.username }}</a>{% endif %}</td>
                </tr>
                <tr>
                    <td class="col-md-4"><b>Updated</b></td>
                    <td>{{ task.modified_date }}{% if task.modified_by %} by <a href="{% url 'task:profile' task.modified_by.username %}">{{ task.modified_by.username }}</a>{% endif %}</td>
                </tr>
                <tr>
                    <td class="col-md-4"><b>Completed</b></td>
                    <td>{{ task.completed_date }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-info">
            <table class="table">
                <tbody>
                <tr>
                    <td class="col-md-4"><b>Due</b></td>
                    {% if task.due_date %}
                    <td>{{ task.due_date }}</td>
                    {% else %}
                    <td><span class="missing-property">No due date</span></td>
                    {% endif %}
                </tr>
                <tr>
                    <td class="col-md-4"><b>Milestone</b></td>
                    {% if task.milestone %}
                    <td><span class="label label-default" title="{{ task.milestone.due_date }}" style="background-color:#{{ task.milestone.bg_colour }}; color:#{{ task.milestone.fg_colour }}">{{ task.milestone.name }}</span> {{ task.milestone.due_date }}</td>
                    {% else %}
                    <td><span class="missing-property">No milestone</span></td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <legend>Links
            {% if edit_permission %}
            <a class="pull-right btn btn-sm btn-success" href="{% url 'task:link_task' task.local_id %}"><span class="glyphicon glyphicon-link"></span> Add Link</a></legend>
            {% endif %}
    </div>
    <div class="col-sm-6">
        {% if task.links_in.count > 0 %}
        <div class="panel panel-info">
            <table class="table">
            {% for link in task.links_in.all %}
                <tr>
                    <td>{{ link.link_type.from_desc }}</td>
                    <td>#{{ link.from_task.id }}</td>
                    <td>{{ link.from_task.name }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
        {% else %}
            <p>No incoming...</p>
        {% endif %}
    </div>
    <div class="col-sm-6">
        {% if task.links_out.count > 0 %}
        <div class="panel panel-info">
            <table class="table">
            {% for link in task.links_out.all %}
                <tr>
                    <td>{{ link.link_type.to_desc }}</td>
                    <td>#{{ link.to_task.id }}</td>
                    <td>{{ link.to_task.name }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
        {% else %}
            <p>No outgoing...</p>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <legend>History</legend>
        {% if history %}
            {% for record in history %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ record.user.username }} @ {{ record.timestamp }}
                </div>
                <div class="panel-body">
                    {% for entry in record.get_entry_slugs %}
                        {{ entry }}
                        <br />
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>Nothing of interest...</p>
        {% endif %}
    </div>
</div>
{% endblock %}
