    <div class="calendar-wrapper col-md-12">
        <table id="calendar-bar" class="table">
            <tbody>
                <tr class="no-border">
                {% for day in calendar.values %}
                    <td class="calendar-lamp-wrapper">
                        <ul class="calendar-lamps">
                        {% for milestone in day.milestones %}
                            <li class="calendar-milestone-lamp" style="border-color:#{{ milestone.bg_colour }}"></li>
                        {% endfor %}
                        {% for task in day.tasks %}
                            <li class="calendar-lamp" style="border-color:#{{ task.triage.bg_colour }}"></li>
                        {% endfor %}
                        </ul>
                    </td>
                {% endfor %}
                </tr>
                <tr>
                {% for day in calendar.values %}
                    <td class="text-center {% if forloop.first %}today{%endif%}">
                        <span class="text-small-task">{{ day.month }}</span></br>
                        <b>{{ day.day }}</b>
                    </td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
