            {% if not task.completed %}
                {% if task.is_due == -1 %}
                    <tr class="danger">
                {% elif task.is_due == 1 %}
                    <tr class="warning">
                {% else %}
                    <tr>
                {% endif %}
            {% else %}
                <tr>
            {% endif %}
                <td class="label_light text-small-task text-center" style="border-left-color:#{{ task.triage.bg_colour }}">{{ task.local_id }}</td>

                <td class="col-sm-8"><a href="{% url 'task:view_task' task.tasklist.user.username task.local_id %}"><b>{{ task.name }}</b></a></td>

                <td class="col-sm-2 text-right">
                    {% if not tasklist %}
                        <a href="{% url 'task:view_tasklist' task.tasklist.user.username task.tasklist.slug %}">{{ task.tasklist.name }}</a>
                        <br />
                    {% endif %}

                    {% if use_created %}
                        <span class="human_date text-small-task" title="{{ task.creation_date }}">{{ task.creation_date|date:"c" }}</span>
                    {% else %}
                        {% if task.completed %}
                            <span class="human_date text-small-task" title="{{ task.completed_date }}">{{ task.completed_date|date:"c" }}</span>
                        {% else %}
                            {% if task.due_date %}
                                <span class="human_date text-small-task" title="{{ task.due_date }}">{{ task.due_date|date:"c" }}</span>
                            {% endif %}
                        {% endif %}
                    {% endif %} 
                </td>

                <td>
                  <div class="btn-group">
                    {% if edit_permission %}
                        <a class="btn btn-sm" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'task:edit_task' task.tasklist.user.username task.local_id %}?next={{ current_url }}"><span class="glyphicon glyphicon-pencil"></span> Edit Task</a><li>
                            {% if not task.completed %}
                                <li><a href="{% url 'task:complete_task' task.tasklist.user.username task.local_id %}?next={{ current_url }}"><span class="glyphicon glyphicon-ok-circle"></span> Mark Complete</a><li>
                                {% if task.is_due == -1 %}
                                    <li class="divider"></li>
                                    <li class="dropdown open">
                                        <div class="dropdown-menu-form">
                                            {% include 'task/includes/postpone.html' %}
                                        </div>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    {% endif %}
                  </div>
              </td>
            </tr>
