            {% if not task.due_date %}
                <tr class="warning">
            {% elif task.is_due == -1 %}
                <tr class="danger">
            {% elif task.is_due == 1 %}
                <tr class="warning">
            {% else %}
                <tr>
            {% endif %}
                <td class="text-small-task text-center">{{ task.local_id }}</td>
                <td><a href="{% url 'task:view_task' user.username task.local_id %}"><b>{{ task.name }}</b></a></td>
                <td>{{ task.tasklist.name }}</td>
                <td class="text-center">
                    <span class="label label-default" style="background-color:#{{ task.triage.bg_colour }}; color:#{{ task.triage.fg_colour }}">{{ task.triage.name }}</span>
                {% if task.due_date %}
                    <br />
                    <span class="due_date text-small-task" title="{{ task.due_date }}">{{ task.due_date|date:"c" }}</span>
                {% endif %}
                    </td>
            </tr>
